<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Inventory Manager{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('dashboard') }}">Dashboard</a> |
        <a href="{{ url_for('inventory') }}">Inventory</a> |
        <a  href="{{ url_for('pos') }}" target="_blank" >POS</a> |
        <a href="{{ url_for('sales') }}">Sales</a>
    </nav>
    <hr>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="messages">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>
</html>
